/* Global variables */
:root {
    --primary-bg-color: #F5F5F5;
    --secondary-bg-color: #6A7B8B; 
    --secondary-bg-2-color: #5C5B5B; 
    --secondary-text-color: #F1F3F5; 
    --form-background: #C5CACF;
    --font-family: 'Avenir Next', 'Montserrat', sans-serif;
}

/* Body styles */
* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    width: 100%;
    background-color: var(--primary-bg-color);
    margin: 0;
    color: var(--secondary-bg-2-color);
}

/* Main logo */
main img {
    width: 15%;
}

main div {
    text-align: center;
}

/* h2 */
section h2 {
    text-align: center;
    font-weight: normal;
    font-size: 2.35rem;
}

section p {
    text-align: left;
    margin: 5% 0;
}

/* Main contact section */
/* -- Main contact - Form */
form input {
    width: 100%;
    font-size: 1.25rem;
    padding: 2%;
}

.form-section {
    margin-bottom: 5%;
    width: 100%;
}

.form-section input, textarea {
    border: none;
    background-color: var(--form-background);
    color: var(--primary-bg-color);
    font-family: var(--font-family);
}

.form-section input:focus, textarea:focus {
    outline-color: var(--secondary-bg-color);
}

input::placeholder, textarea::placeholder {
    color: var(--primary-bg-color);
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 2%;
    text-align: left;
}

textarea {
    width: 100%;
    resize: none;
    padding: 2%;
    font-size: 1.25rem;
}

.form-btn, aside button {
    background-color: var(--secondary-bg-color);
    font-family: var(--font-family);
    font-weight: bold;
    color: var(--primary-bg-color);
    border: none;
    width: 40%;
    border-radius: 10px;
}

.form-required {
    color: red;
}

/* Form end */
.contact-main {
    margin: 0 auto;
    width: 60%;
}

.contact-main section span {
    font-size: 1.25rem;
}

.contact-main img {
    width: 100%;
}

.contact-main section:last-child {
    margin: 5% 0;
}

/* Modal */
.modal {
    padding: 3% 0;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    width: 70vw;
    /* min-width: 530px; */
    height: 50vh;
    /* min-height: 376px; */
    margin: 25vh 15vw;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: solid 1px var(--secondary-bg-2-color);
}

.modal p {
    font-weight: bold;
}

.modal-head {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.modal h2 {
    text-transform: uppercase;
}

aside button {
    width: 20%;
    height: 15%;
    box-shadow: 1px 1px 5px rgb(88, 88, 88);
}

aside img {
    height: 8vw;
    width: auto;
    align-self: center;
    margin-right: 10%;
}

/* Modal background */
#modal-bg {
    position: fixed;
    background-color: rgba(92, 91, 91, 0.2);
    height: 100vh;
    width: 100vw;
}

/* Media queries */
@media (max-width: 730px) {
    .modal {
        width: 100vw;
        margin: 25vh 0;
    }
    .modal h2, .modal h3, .modal p {
        font-size: 1rem;
    }

    .modal p {
        font-weight: normal;
    }
}

@media (max-width: 700px) {
    section h2 {
        font-size: 1.5rem;
    }

    .contact-main section span {
        font-size: 1.25rem;
    }
}

@media (max-width: 481px) {
    .contact-main section span {
        font-size: 1rem;
    }
    
    form input {
        font-size: 1rem;
    }

    textarea::placeholder {
        font-weight: normal;
    }

    .form-btn {
        width: 75%;
    }
}

@media (max-width: 450px) {
    .modal p {
        font-size: 0.75rem;
    }
}
